client
;dev tap
dev tun
proto {{openvpn_proto}}
remote {{openvpn_server_host}} {{openvpn_port}}
resolv-retry infinite
nobind

user {{openvpn_user}}
group {{openvpn_group}}

# Try to preserve some state across restarts.
persist-key
persist-tun

remote-cert-tls server
tls-auth ta.key 1
cipher AES-256-CBC
auth SHA256
comp-lzo
verb 3

<ca>
{{ ca_cert.content|b64decode }}
</ca>

<tls-auth>
{{ tls_auth.content|b64decode }}
</tls-auth>

<cert>
{{ item.0.content|b64decode}}
</cert>

<key>
{{ item.1.content|b64decode }}
</key>