port {{openvpn_port}}
proto {{openvpn_proto}}
dev tun
ca "{{easyrsa_pki_dir}}/ca.crt"
cert "{{openvpn_cert_dir}}/{{openvpn_servername}}.crt"
key "{{openvpn_key_dir}}/{{openvpn_servername}}.key"
dh "{{easyrsa_pki_dir}}/dh.pem"
topology subnet
server {{openvpn_subnet}} nopool
ifconfig-pool {{openvpn_ifconfig_pool}}

ifconfig-pool-persist {{openvpn_base_dir}}/ipp.txt

{% for item in openvpn_push_routes %}
push "route {{item}}"
{% endfor %}

{% if openvpn_redirect_gateway|bool %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}

{% if openvpn_client_to_client|bool %}
client-to-client
{% endif %}

keepalive 10 120
tls-auth {{openvpn_key_dir}}/ta.key 0
cipher AES-256-CBC
auth SHA256
comp-lzo

client-config-dir {{openvpn_ccd_dir}}

crl-verify {{easyrsa_pki_dir}}/crl.pem

max-clients {{openvpn_max_clients}}

user {{openvpn_user}}
group {{openvpn_group}}

persist-key
persist-tun

status {{openvpn_status}}

log-append  {{openvpn_log}}
verb {{openvpn_log_level}}

explicit-exit-notify 1