port {{openvpn_port}}
proto {{openvpn_proto}}
dev tun
ca "{{easyrsa_pki_dir}}/ca.crt"
cert "{{openvpn_cert_dir}}/{{openvpn_servername}}.crt"
key "{{openvpn_key_dir}}/{{openvpn_servername}}.key"
dh "{{easyrsa_pki_dir}}/dh.pem"
topology subnet
server 10.8.0.0 255.255.255.0

# TODO must be a variable
ifconfig-pool-persist /var/log/openvpn/ipp.txt

{% for item in openvpn_push_routes %}
push "route {{item}}"
{% endfor %}

{% if openvpn_redirect_gateway|bool %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}

# TODO must be a var
;client-to-client
keepalive 10 120
tls-auth {{openvpn_key_dir}}/ta.key 0 # This file is secret
cipher AES-256-CBC
auth SHA256
comp-lzo

client-config-dir {{openvpn_ccd_dir}}

crl-verify {{easyrsa_pki_dir}}/crl.pem

# TODO must be a var
;max-clients 100

user {{openvpn_user}}
group {{openvpn_group}}

persist-key
persist-tun

status /var/log/openvpn/openvpn-status.log

log-append  {{openvpn_log}}
verb {{openvpn_log_level}}

explicit-exit-notify 1